<mat-card>
  <mat-card-header>
    <mat-form-field>
      <mat-label>Player name</mat-label>
      <input matInput [(ngModel)]="player.name" [disabled]="!editable" />
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <selector-class [player]="player" [editable]="editable"></selector-class>
    <selector-role [player]="player" [editable]="editable"></selector-role>
    <div class="bottom-card-content">
      <mat-form-field style="width: 100px">
        <mat-label>Key level</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="player.keyLevel"
          [disabled]="!editable"
        />
      </mat-form-field>
      <mat-checkbox [(ngModel)]="player.available">Available</mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="createButton"
      mat-raised-button
      (click)="onUpdate.emit()"
      color="primary"
    >
      {{ createButtonText }}
    </button>
    <button
      mat-raised-button
      [color]="deleteButtonColor"
      (click)="onDelete.emit()"
    >
      {{ deleteButtonText }}
    </button>
  </mat-card-actions>
</mat-card>
