<mat-form-field *ngIf="availableRoles">
  <mat-select
    placeholder="Select role"
    [value]="defaultRole"
    (valueChange)="newRole.emit($event)"
  >
    <mat-select-trigger class="select-trigger">
      <img [src]="defaultRole | roleIcon" alt="not found" />
      <span>{{ defaultRole?.type }}</span>
    </mat-select-trigger>
    <mat-option *ngIf="canResetChoice">None</mat-option>
    <mat-option
      *ngFor="let availableRole of availableRoles"
      [value]="availableRole"
    >
      <div class="select-option">
        <img [src]="availableRole | roleIcon" alt="not found" />
        <span>{{ availableRole.type }}</span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
