@if (availableRoles()) {
<mat-form-field>
  <mat-select
    placeholder="Select role"
    [value]="defaultRole()"
    (valueChange)="newRole.emit($event)"
    [compareWith]="compareWith"
  >
    <mat-select-trigger class="select-trigger">
      <img [src]="defaultRole() | roleIcon" alt="not found" />
      <span>{{ defaultRole()?.type }}</span>
    </mat-select-trigger>
    @if (canResetChoice()) {
    <mat-option>None</mat-option>
    } @for (availableRole of availableRoles(); track $index) {
    <mat-option [value]="availableRole">
      <div class="select-option">
        <img [src]="availableRole | roleIcon" alt="not found" />
        <span>{{ availableRole.type }}</span>
      </div>
    </mat-option>
    }
  </mat-select>
</mat-form-field>
}
