<div>
  <span>Player list</span>
  <mat-card>
    <mat-card-header>
      <mat-form-field>
      <input matInput placeholder="Player name" [(ngModel)]="creationPlayer.name">
    </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <mat-select placeholder="Select class" class="class-select" [(value)]="creationPlayer.playerClass">
        <mat-option *ngFor="let selectableClass of selectableClasses" [value]="selectableClass">
          <div class="class-option">
            <img [src]="selectableClass | classIcon" alt="not found"/>
            <span>{{selectableClass.name}}</span>
          </div>
        </mat-option>
      </mat-select>
      <mat-select *ngIf="creationPlayer.playerClass" class="class-select" [(value)]="creationPlayer.role">
        <mat-option *ngFor="let availableRole of creationPlayer.playerClass.availableRoles" [value]="availableRole">
          <div class="class-option">
            <!-- <img [src]="selectableClass | classIcon" alt="not found"/> -->
            <span>{{availableRole.role}}</span>
          </div>
        </mat-option>
      </mat-select>
      <!-- {{item.class}}
      {{item.role}}
      {{item.iLvl}}
      {{item.keyLevel}} -->
    </mat-card-content>
    <mat-card-actions>
      <button (click)="addPlayer()">Create</button>
      <button>Delete</button>
    </mat-card-actions>
  </mat-card>
  {{creationPlayer | json}}
  {{creationPlayer.playerClass?.name}}
  {{creationPlayer.playerClass?.availableRoles}}
  <mat-card *ngFor="let item of players">
    <mat-card-header>{{item.name}}</mat-card-header>
    <mat-card-content>
      {{item.playerClass}}
      {{item.role}}
      {{item.iLvl}}
      {{item.keyLevel}}
    </mat-card-content>
    <mat-card-actions>
      <button>Update</button>
      <button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
