<mat-toolbar color="primary">
  <span>Troll a deux têtes - Mythic+ group generator</span>
</mat-toolbar>

<div class="header">
  <h2>Player list</h2>
  <button mat-raised-button color="primary" (click)="exportPlayers()">
    <mat-icon>upload</mat-icon>Export players
  </button>
  <button mat-raised-button color="primary" (click)="fileInput.click()">
    <mat-icon>download</mat-icon>Import players
  </button>
  <input hidden (change)="importPlayers()" #fileInput type="file" id="file">
  <button mat-raised-button color="primary">Generate groups ></button>
</div>

<div class="player-list">
  <player-card
    [player]="creationPlayer"
    [editable]="true"
    [updateButton]="true"
    updateButtonText="Create"
    deleteButtonText="Reset"
    deleteButtonColor="accent"
    (onUpdate)="addPlayer()"
    (onDelete)="resetPlayer()"
  ></player-card>

  <player-card
    *ngFor="let player of players; let i = index"
    [player]="player"
    (onDelete)="deletePlayer(i)"
  ></player-card>
</div>
