<mat-toolbar color="primary">
  <span>Les copains à bord - Mythic+ group generator</span>
</mat-toolbar>

<mat-stepper #stepper [linear]="true" >
  <mat-step completed="false">
    <ng-template matStepLabel>Group making</ng-template>
    <group-making (groupsGenerated)="onGroupsGenerated($event, stepper)"></group-making>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Generated groups</ng-template>
    <group-list [groupList]="generatedGroups" (stepBack)="stepBack(stepper)"></group-list>
  </mat-step>
</mat-stepper>
