<div class="header">
  <h2>Group List</h2>
  <button mat-raised-button color="primary" (click)="addGroup()">
    <mat-icon>add</mat-icon>Add group
  </button>
  <button mat-raised-button color="primary" (click)="exportGroups()">
    <mat-icon>upload</mat-icon>Export Groups
  </button>
  <button mat-raised-button color="primary" (click)="stepBack.emit()">
    &lt; Step back
  </button>
</div>

@if (computedGroups().length > 0) {
<div cdkDropListGroup class="group-list-container">
  <!-- All lists in here will be connected. -->
  @for (group of computedGroups(); track $index) {
  <mat-card
    cdkDropList
    [cdkDropListData]="group.players"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-list role="list">
      <div mat-subheader class="list-header">
        <mat-form-field>
          <mat-label>Group name</mat-label>
          <input matInput [(ngModel)]="group.name" />
        </mat-form-field>
        <mat-form-field class="key-level">
          <mat-label>Key level</mat-label>
          <input matInput type="number" [(ngModel)]="group.keyLevel" />
        </mat-form-field>
      </div>
      @for (player of group.players; track $index) {
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" cdkDrag>
        <player-list-item [player]="player"></player-list-item>
      </mat-list-item>
      } @if (group.players.length === 0) {
      <button
        class="delete-button"
        mat-raised-button
        color="warn"
        (click)="deleteGroup($index)"
      >
        <mat-icon>delete</mat-icon>Delete group
      </button>
      }
    </mat-list>
  </mat-card>
  }
</div>
} @else { No List generated, please update players }
